<div class="container" id="edit-user-container">
    <div class="row">
        <div class="col-6 col-offset-3">
            <div class="panel">
                <div class="panel-heading">
                    <h2>Editar mi perfil</h2>
                </div>
                <div class="panel-body">
                    <%= render "form", user: current_user %>
                </div>                
            </div>
        </div>
    </div>
</div>