<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="text-margin">Wishlist</h1>
        </div>
        <div class="col-8">
            <%= render :partial => 'products/product_list', :locals => {products: @wish_list.products, is_transaction: true} %>
        </div>
    </div>
</div>
