<div class="container">
    <div class="row">
        <div class="col-8">
            <h1 class="text-margin">Wishlist</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <%= render :partial => 'products/product_list', :locals => {products: @wish_list.products, is_transaction: true} %>
        </div>
    </div>
    <div class="row">
        <td><%= link_to fa_icon("beer", text: "Reservar"), user_wishlist_path(@user), class: "button", :method => :post %></td>
    </div>    
</div>
