<div class="container" id="new-user-container">
    <div class="row">
        <div class="col-6 col-offset-3">
            <div class="panel">
                <div class="panel-heading">
                    <h2>Registrarse en el sistema</h2>
                </div>
                <div class="panel-body">
                    <%= render 'signup_form', user: @user %>
                </div>
            </div>
        </div>
    </div>
</div>
