@import "globals";

.text-center {
    text-align: center;
}

.text-replacement {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

strong {
    font-weight: bold;
}

.button {
    line-height: 3rem;
    padding: 5px;
    border-radius: 3px;
    background: $dark-red;
    text-decoration: none;
    color: white;
}

.product-image {
    width: 100%;
}