@import "globals";

.text-center {
    text-align: center;
}

.text-replacement {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.text-strong, strong {
    font-weight: bold;
}

.button {
    line-height: 3rem;
    padding: 5px;
    border-radius: 3px;
    background: $dark-red;
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: $hover-button;
}

.product-image {
    width: 100%;
}

.text-warning {
    color: #8a6d3b;
}

.text-success {
    color: #3c763d;
}