<% if transactions.length > 0%>
    <% transactions.each do |transaction|%>
        <div class="transaction-container">
            <div class="transaction-name">
                <%= "Transacción #" + (transaction.id).to_s %>
            </div>
            <div class="transaction-date">                        
                <%= "Fecha de la transacción: " + (transaction.created_at).to_s %>
            </div>
            <div class="transaction-cost">
                <%= "Precio total transacción: " + number_to_currency(transaction.shopping_cart.products.sum(:price)).to_s %>
            </div>
            <div class="transaction-status text-strong">
                <% if transaction.dispatched %>
                    <span class="text-success">Despachada</span>
                <% else %>
                    <span class="text-warning">En proceso</span>
                <% end %>
            </div>
            <div class="transaction-show">
                <%= link_to fa_icon("search", text: "Ver transaccion"), transaction_path(transaction), class: "button" %>
            </div>
        </div>
    <% end %>
<% else %>
    <h3>No hay transacciones.</h3>
<% end %>