<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Transacciones</h2>
        </div>        
    </div>
    <div class="row">
        <div class="col-6">
            <%= render "transaction_list", transactions: @transactions %>
        </div>
    </div>
</div>