<%= render "layouts/navbar" %>

<div class="container">
    <h1 class="text-margin">Jack Daniels Old No.7</h1>
    <div class="row">
        <div class="col-2">
            <h5><strong>Precio:</strong> $19.990</h5>
        </div>
        <div class="col-4">
            <a class="button" href="#">Editar</a>
            <a class="button" href="#">Eliminar</a>
            <a class="button" href="#">Agregar al carro</a>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <%= image_tag "jack_daniels.png", :size => "120x300", :class => "image-margin" %>
        </div>
        <div class="col-10">
            <p class="text-margin">                 
                Mellowed drop by drop through 10-feet of sugar maple charcoal,<br>
                then matured in handcrafted barrels of our own making. And our<br>
                Tennessee Whiskey doesn’t follow a calendar. It’s only ready when<br>
                our tasters say it is. We judge it by the way it looks. By its aroma.<br>
                And of course, by the way it tastes. It’s how Jack Daniel himself did<br>
                it over a century ago. And how we still do it today.
            </p>
        </div>
    </div>

</div>