<% if alert %>
<div id="alert-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><%= alert %></p>
            </div>
        </div>
    </div>
</div>
<% end %>