<footer>
    <div class="container">
        <div class="row">
            <p class="col-12">
                iCopete - 2017 - Todos los derechos reservados.
            </p>
        </div>
    </div>
</footer>