<header id="nav-header">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="<%= url_for "/" %>"><h1 class="text-replacement">iCopete</h1></a>
            </div>
            <ul>
                <li><%= link_to "Registrarse", "/signup", class: "button" %></li>
                <li><%= link_to "Ingresar", "/login", class: "button" %></li>
                <li><a class="button" href="#">Carro de compras</a></li>
            </ul>
        </div>
    </div>
</header>