<% if notice %>
<div id="notice-container">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p><%= notice %></p>
            </div>
        </div>
    </div>
</div>
<% end %>