<div id="site-navigation">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul>
                    <% if current_user && current_user.admin_role? %>
                        <li><%= link_to "Usuarios", users_path, class: "button" %></li>
                    <% end %>
                    <li><%= link_to "Productos", products_path, class: "button" %></li>
                    <li><%= link_to "Categorías", categories_path, class: "button" %></li>
                </ul>
            </div>
        </div>
    </div>
</div>